* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* share css */

body{
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.btn {
    padding: 12px 25px;
    background-color: #b68c5a;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}



/* header sec css */

.header {
    width: 100%;
}

/* Navbar */

.navbar {
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #9b6b3d;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-menu li a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
}



/* Hero Section */

.hero {
    margin: 50px auto;
    height: 450px;
    border-radius: 10px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.853)),
        url("../images/banner.png"); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    color: #fff;
    max-width: 692px;
}

.hero-titel {
    font-size: 4.5rem;
    margin-bottom: 24px;
    color: #ffffff;
}

.hero-bio{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 25px;
    color: #E7E7E7;
}

/* Search box */
.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-box input {
    width: 300px;
    padding: 12px;
    border-radius: 6px;
    border: none;
}


/* practice css */

.practice{
    margin-bottom: 109px;
}
.practice-contant{
    margin-top: 100px;
    text-align: center;
}

.practice-titel {
    font-size: 2.5rem;
    font-weight: bold;
    color: #414040;
    margin-bottom: 24px;
}

.practice-bio {
    font-size: 1rem;
    font-weight: bold;
    color: #707070;
    margin-bottom: 64px;
}


/* Grid */
.practice-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Card */
.card {
    text-align: center;
    padding: 56px 70px 70px 70px;
    width: 100%;
    max-width: 400px;
    transition: 0.3s;
}
.border-1{
    border: 1px solid #E7E7E7;
    border-bottom: none;
}
.border-2{
    border-top: 1px solid #E7E7E7;
}

.card:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.card-icon{
    margin-bottom: 31px;
}

.card-name{
    font-size: 2rem;
    font-weight: bold;
    color: #414040;
    margin-bottom: 24px;
}

.card-bio{
    font-size: 1rem;
    line-height: 26px;
    color: #707070;
    margin-bottom: 32px;
}

