* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* share css */

.all-section{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.btn {
    padding: 12px 25px;
    background-color: #b68c5a;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.section-titel{
    font-size: 2.5rem;
    font-weight: bold;
    color: #414040;
    margin-bottom: 24px;
}
.section-bio {
    font-size: 1rem;
    font-weight: bold;
    color: #707070;
    margin-bottom: 64px;
}



/* header sec css */

.header {
    width: 100%;
}

/* Navbar */

.navbar {
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}
.nav-menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-name {
    text-decoration: none;
    color: #555;
    font-size: 15px;
}



/* Hero Section */

.hero {
    margin: 50px auto;
    height: 450px;
    border-radius: 10px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.853)),
        url("../images/banner.png"); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    color: #fff;
    max-width: 692px;
}

.hero-titel {
    font-size: 4.5rem;
    margin-bottom: 24px;
    color: #ffffff;
}

.hero-bio{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 25px;
    color: #E7E7E7;
}

/* Search box */
.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-box input {
    width: 300px;
    padding: 12px;
    border-radius: 6px;
    border: none;
}


/* practice css */

.practice{
    margin-bottom: 109px;
}
.practice-contant{
    margin-top: 100px;
    text-align: center;
}

.practice-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    text-align: center;
    padding: 56px 70px 70px 70px;
    width: 100%;
    max-width: 400px;
    transition: 0.3s;
}
.border-1{
    border: 1px solid #E7E7E7;
    border-bottom: none;
}
.border-2{
    border-top: 1px solid #E7E7E7;
}

.card:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.card-icon{
    margin-bottom: 31px;
}

.card-name{
    font-size: 2rem;
    font-weight: bold;
    color: #414040;
    margin-bottom: 24px;
}

.card-bio{
    font-size: 1rem;
    line-height: 26px;
    color: #707070;
    margin-bottom: 32px;
}

/* Client Say Section Full css */


/* testimonial box */
.testimonial-box {
    position: relative;
    height: 400px;
    border-radius: 10px;
    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("../images/banner.png"); /* background image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* arrows */
.arrow {
    position: absolute;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.arrow.left {
    left: 30px;
}

.arrow.right {
    right: 30px;
}

/* content */
.testimonial-content {
    max-width: 700px;
    color: #fff;
    padding: 20px;
}

.client-img {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #b68c5a;
}

.client-img img {
    padding-top: 8px;
    width: 98%;
    height: 100%;
    object-fit: cover;
}

.testimonial-content h3 {
    font-size: 18px;
    color: #b68c5a;
    margin-bottom: 5px;
}

.designation {
    font-size: 13px;
    color: #ccc;
    display: block;
    margin-bottom: 15px;
}

.review {
    font-size: 14px;
    color: #e0e0e0;
    line-height: 1.6;
}


/* faq  full css */

.faq {
    max-width: 1200px;
    margin: 100px auto;
    text-align: center;
}

.faq-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.faq-item {
    background: #f7f7f7;
    padding: 20px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.faq-item span {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 22px;
}

.faq-item.active p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.faq-img img {
    width: 100%;
}



/* Contact Section Full css */

.contact {
    margin-bottom: 100px;
}

.section-text {
    max-width: 600px;
    margin: 10px auto 50px;
    font-size: 14px;
    color: #777;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

/* Info boxes */
.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-box {
    padding: 30px;
    background: #f7f7f7;
    border: 1px solid #eee;
}

.info-box img {
    width: 35px;
    margin-bottom: 10px;
}

.info-box h4 {
    margin-bottom: 8px;
}

/* Form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: none;
    background: #f7f7f7;
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    padding: 15px;
    background: #b68c5a;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Footer Section Fill css */

.footer {
    background: #111;
    color: #ccc;
    padding: 30px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

/* logo */
.footer-logo {
    font-size: 22px;
    font-weight: bold;
    color: #b68c5a;
    margin-bottom: 15px;
}

.footer-box h4 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
}

/* links */
.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    margin-bottom: 10px;
}

.footer-box ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

/* subscribe */
.subscribe-box {
    display: flex;
    margin-top: 15px;
}

.subscribe-box input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
}

.subscribe-box button {
    background: #b68c5a;
    border: none;
    padding: 0 20px;
    color: #fff;
    cursor: pointer;
}


/* Mobile Device */

@media screen and (max-width: 576px) {

    /* common */
    .all-section{
        padding: 0 16px;
    }

    .section-titel{
        font-size: 1.8rem;
    }

    .section-bio{
        font-size: 0.9rem;
        margin-bottom: 40px;
    }

    /* navbar */
   
     .menu-icon {
        display: block;
    }
    #bton{
        display: none;
    }
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #fff;
        padding: 20px 0;
        margin-top: 10px;
        border-radius: 8px;
    }

    .nav-menu li {
        margin: 10px 0;
        text-align: center;
    }

    /* when menu active */
    .nav-menu.active {
        display: flex;
    }
   
    /* hero */
    .hero{
        height: auto;
        padding: 60px 15px;
    }

    .hero-titel{
        font-size: 2.2rem;
        line-height: 1.3;
    }

    .hero-bio{
        font-size: 0.9rem;
    }

    .search-box{
        flex-direction: column;
    }

    .search-box input{
        width: 100%;
    }

    /* practice */
    .practice-grid{
        grid-template-columns: 1fr;
    }

    .card{
        padding: 40px 25px;
        max-width: 100%;
    }

    .border-1,
    .border-2{
        border: 1px solid #E7E7E7;
    }

    /* testimonial */
    .testimonial-box{
        height: auto;
        padding: 60px 15px;
    }

    .arrow{
        display: none;
    }

    /* faq */
    .faq-wrapper{
        grid-template-columns: 1fr;
    }

    /* contact */
    .contact-wrapper{
        grid-template-columns: 1fr;
    }

    .contact-info{
        grid-template-columns: 1fr;
    }

    /* footer */
    .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .subscribe-box button{
        padding: 12px;
    }
}


/* Medium Device */

@media screen and (min-width: 577px) and (max-width: 992px) {

    .all-section{
        padding: 0 30px;
    }

    /* navbar */
    .nav-menu{
        gap: 18px;
    }

    /* hero */
    .hero-titel{
        font-size: 3rem;
    }

    /* practice */
    .practice-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .card{
        max-width: 100%;
        padding: 45px 35px;
    }

    /* faq */
    .faq-wrapper{
        grid-template-columns: 1fr;
    }

    /* contact */
    .contact-wrapper{
        grid-template-columns: 1fr;
    }

    /* footer */
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }
     /* FAQ image container */
    .faq-img {
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    /* FAQ image size control */
    .faq-img img {
        max-width: 80%;
        height: auto;
    }

}
