* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* share css */

.btn {
    padding: 12px 25px;
    background-color: #b68c5a;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}



/* header sec css */

.header {
    width: 100%;
}

/* Navbar */

.navbar {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #9b6b3d;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-menu li a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
}



/* Hero Section */

.hero {
    max-width: 1170px;
    margin: 50px auto;
    height: 450px;
    border-radius: 10px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.853)),
        url("../images/banner.png"); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    color: #fff;
    max-width: 692px;
}

.hero-titel {
    font-size: 4.5rem;
    margin-bottom: 24px;
    color: #ffffff;
}

.hero-bio{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 25px;
    color: #E7E7E7;
}

/* Search box */
.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-box input {
    width: 300px;
    padding: 12px;
    border-radius: 6px;
    border: none;
}

.search-box button {
   
}
